VITE_API_URL=http://localhost:3000/api
# VITE_FRONTEND_URL=http://localhost:5173

# EmailJS
# VITE_EMAILJS_SERVICE_ID=service_2fc66vn
# VITE_EMAILJS_TEMPLATE_ID=template_2g1h5we
# VITE_EMAILJS_TEMPLATE_PARENT_ID=template_gb8ib1l 
# VITE_EMAILJS_PUBLIC_KEY=W0QvLbGOavk1E1P2c